<template name="home">
  <div class="container main-container">
  
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" id="banner-brand">
        <h1>FOOD BLOG</h1>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-4" id="banner-box-eat">
        <div class="banner-box-inner">What We Eat</div>
      </div>
      <div class="col-md-4" id="banner-box-love">
        <div class="banner-box-inner">What We Love</div>
      </div>
      <div class="col-md-4" id="banner-box-drink">
        <div class="banner-box-inner">What We Drink</div>
      </div>
    </div>
  
  </div>
</template>