<template name="post">
  <div class="row" id="post-container">
    <div class="col-xs-4">
      <div id="post-image"></div>
    </div>
    <div class="col-xs-6">
      <h1 id="post-title">Lorem ipsum</h1>
      <div id="post-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel hendrerit nunc. Quisque fringilla massa dolor, pretium ultricies ipsum tempor semper. Cras commodo ornare cursus. Nullam eget ex vitae turpis dignissim feugiat quis quis turpis. Vivamus non purus tincidunt, tempus enim ac, mattis felis. Mauris cursus dapibus ante. Maecenas vitae tincidunt velit. Pellentesque fringilla mi odio, et placerat dolor blandit id. Sed sollicitudin ligula quis felis maximus, non porttitor lorem scelerisque.
      </div>
    </div>
    
    
  </div>
</template>